:root {
    --border: 1px solid black;
    --height: 500px
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
.winner-display {
    height: 20px;
}
.tic-tac-toe-container {
    display: grid;
    height: var(--height);
    width: var(--height);
    margin: 1rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
}
.cell {
    text-align: center;
    font-size: calc(var(--height) / 5);
}
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(4), .cell:nth-child(5) {
    border-bottom: var(--border);
    border-right: var(--border);
}
.cell:nth-child(3), .cell:nth-child(6) {
    border-right: var(--border);
}
.cell:nth-child(7), .cell:nth-child(8) {
    border-bottom: var(--border);
}

